
.playbtn{
text-align: center;
padding: 10px 20px;
background-color: rgb(251, 251, 251);
color: rgb(0, 0, 0);
border: none;
font-size: larger;
transition:all 0.6 ease;
cursor: pointer;
width: 200px;
height: 50px;
margin-right: 20px;
border-radius: 5px;
float: left;
}
.playbtn:hover{
   
    background-color: rgb(218, 218, 219);
}
.playbtn>span{
    vertical-align: middle !important;
}
.playbtn1>span{
    vertical-align: middle !important;
}
.playbtn1{
text-align: center;
padding: 10px 20px;
background: rgb(50, 52, 68);
color: aliceblue;
border: none;
font-size: larger;
transition:all 0.6 ease;
cursor: pointer;
width: 200px;
height: 50px;
border-radius: 5px;
float: left;
}
.playbtn1:hover{
    
    background: rgb(39, 41, 53);
}
.dec{
    
    display: flex;
    flex-direction: row;
   margin: 20px 20px;
}

.featured-title{
    background-image: linear-gradient(transparent,black);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 1rem;
}
.featured {
    position: relative; /* Necessary for positioning the overlay */
    width: 100%;
    height: 80vh; /* Adjust height as needed */
    overflow: hidden; /* Hide overflow content */
   
  }
  
  .featured video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the container without stretching */
  }