
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.019),rgba(0, 0, 0, 0.34));
    z-index: 100;
}

.header.solid {
    background-color: rgba(0, 0, 0, 0.8); /* Solid background color when scrolled */
}