
.header{
    background-image: linear-gradient(black,transparent);
    z-index: 100;
    transition: all 1000ms ease;
}

.header.solid {
    background-color: rgba(0, 0, 0, 0.8); /* Solid background color when scrolled */
   
}